
<div class="card">
   
    <div class="card-header">
      Add USER
    </div>
 
    <div class="card-body">
 
       <!-- <loader *ngIf="!employee"></loader> -->
 
       <form #userForm="ngForm" class="col-md-6" ngNativeValidate
       *ngIf="user" (ngSubmit)="onSubmit(userForm.value)">
          
          <div class="form-group">
             <label for="name">Name</label>
             <input [(ngModel)]="user.lastName" class="form-control" name="name"
                    type="text" id="name" required>
          </div>      
          
          <div class="form-group">
             <label for="lname">Email</label>
             <input [(ngModel)]="user.email" class="form-control" name="email"
                    type="text" id="email" required>
          </div>
 
          <div class="form-group">
             <label for="gender">Gender</label>
             <select class="form-control" [(ngModel)]="user.gender" name="gender" id="gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
             </select>
          </div>
 
         
         
 
          <button [disabled]="userForm.invalid" class="btn btn-success" type="submit">Submit</button>
       </form>      
    </div>
 
 </div>